@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
select {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    border: none;
  }
a{
    text-decoration: none;
    color: white;
}
.container{
    display: grid;
    font-family: 'Poppins', sans-serif;
}
.container >section{
    border-bottom: 6px solid #222222;
    max-width: 100%;
    font-weight: bold;
}
.container .hero{
    background-image: url(../assets/hero-img.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    
}
.nav2{
    display: flex;
}
.nav2 .icon-tab{
    height: 50px;
    width: 120px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 0 20px;
}
.icon-tab i{
    color: white;
}
nav button{
    background-color: #E50914;
    color: white;
    height: 50px;
    width: 90px;
}
/* TEXT SECTION */
.text{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    line-height: 3rem;
    font-weight: 800;
    
}
.text h1{
    font-size: 67px;
    text-align: center;
    width: 52%;
    font-weight: 800;
    line-height: 5rem;
}
.text p{
    font-size: 35px;
    
}
.text small{
    font-size: 20px;
}
.text input{
    width: 400px;
    height: 50px;
}
.text button{
    background-color: #E50914;
    height: 50px;
    color: white;
    width: 150px;
}
.text-btn{
display: flex;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center !important;
    gap: 27px;
    background-color: black;
    color: white;
    min-height: 350px;
    
}
.item-img{
    height: 260px;
    width: 350px;
}
.item-img img{
    max-width: 100%;
    object-fit: contain;
}
.item-text{
    width: 30%;
    
}
.item-text h1{
    font-size: 40px;
}
.item-text p{
    font-size: 24px;
    padding-top: 2.2rem;;
}
/* FAQ SECTION */
.faq{
   background-color: black;
   color: white;
   min-height: 590px;

}
.faq-cont{
    margin: auto;
    width: 40%;
    padding-bottom: 40px;
}
.faq-cont h1{
    text-align: center;
    padding: 20px 0;
    font-size: 35px;
}
.faq-cont >div{
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #303030;
    margin: 15px 0;
    
}
.accord{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
}
.quest{
    font-size: 24px;
}
.faq-cont input{
    min-width: 400px;
    height: 50px;
    padding: 19px;
    font-size: 19px;
}
.faq-cont button{
    background-color: #E50914;
    height: 50px;
    color: white;
    width: 150px;
}
.faq-cont p{
    padding-top: 20px;
    font-size: 20px;
}
/* ACCORDION */
.is-open + .quest{
    display: block;
       
}
.quest{
    display: none;
    transition: all 0.5s;
}
/* FOOTER */
footer{
    background-color: black;
    color: white;
}
footer h3{
    margin: auto;
    padding: 20px 0;
    width: 50%;
    color: white !important;
}
li{
    list-style: none;
    padding: 7px 0;
}
footer main{
    width: 55%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    

}
footer .icon-tab{
    margin: 20px 0px 10px 0;
    border: 1px solid white;
    padding: 20px;
}

@media only screen and (max-width: 1280px){
.text h1{
    width: 80%;
}
.item-text{
    width: 36%;
}
.item-text h1{
    font-size: 39px;
}
.faq-cont{
    width: 60%;
}
footer main{
    width: 70%;
}
}

@media only screen and (max-width: 600px){
    .container.hero{
        height: 100vh;
        line-height: 3rem;
    }
    .text{
        height: 100%;
    }
    .text h1{
        width: 90%;
        font-size: 40px;
        line-height: 2.5rem;
    }
    .text p{
        font-size: 22px;
    }
    .text small{
        font-size: 15px;
    }
    .text input{
        width: 200px;
        padding-left: 30px;
    }
    .item{
        flex-direction: column;
        gap: 2;
    }
    .item-img, .item-text{
        width: 85%;
        padding: 30px 0;
    }
    .item-text h1{
        padding-top: 25px;
        font-size: 44px;
    }
    .item-text p{
        padding-top: 12px;
    }
    .faq-cont{
        width: 90%;
    }
    footer main{
        flex-direction: column;
        width: 60%;
        margin: auto;
        font-size: 22px;
    }
    footer .icon-tab{
        width: 180px;
    }
    footer ul{
        padding: 20px 0;
    }
    
    
}