*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{list-style: none;}
a{text-decoration: none;}

.container{
    display: grid;
    color: white;
    border: 1px solid black;
    max-width: 100%;
    position: relative;
}
nav{
    max-width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 1000;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
nav ul li a{
    color: white;
}
.nav-menu{
    display: flex;
    width: 80%;
    justify-content: space-between;
    
}
.end{
    width: 20%;
    padding-right: 50px;
}
.harmburger{
    padding-right: 50px;
    display: none;
}
.harmburger i{
    font-size: 30px;

}

/* HERO SECTION */
.hero{
    min-height: 500px;
    background: url(../assets/userbg.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text{
    width: 30%;
    padding: 40px 30px 0 30px;
}
.text p{
    font-size: 22px;
    padding: 10px 0;
}
.text h3{
    font-weight: 900;
    font-size: 25px;
    padding: 10px 0;
}
.text button{
    height: 50px;
    padding: 10px 20px;
    

}
.text button:nth-child(2){
    background: linear-gradient(rgba(90, 83, 83, 0.7), rgba(113, 107, 107, 0.7));
    margin: 10px 5px;

    
}
.text button:nth-child(2) a{
    color: white;
    
}
/* .posi{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) !important;
    position: absolute;
    top: -190px;
} */



/* .swiper-slide{
    width: 20%;
} */
.swiper-button-prev, .swiper-button-next{
    color: white !important;
    font-weight: 900;
}
.swiper-slide img{
    width: 100%;
    padding-right: 20px;
}

/* SWIPER */
.swiper{
    width: 100%;
    background-color: black;
   
    
    
}
.swiper p{
    padding: 10px 0;
}
.first .swiper-slide{
    height: 200px !important;
 
}
.first .swiper-slide img{
    object-fit: cover !important;
    width: 100% !important;
    height: 200px;
}
.tall .swiper-slide{
    height: 600px !important;
}
.tall .swiper-slide img{
    object-fit: contain !important;
    width: 100% !important;
    height: 600px !important;
}

.gallery p{
    margin: 0 30px;
}
.land-pic.dot img{
    width: 15%;
    height: 160px;
}
/* FOOTER */
footer{
    background-color: black;
    color: white;
    padding: 30px 0;
}
footer i{
    color: white !important;
    font-size: 25px !important;
    padding: 0 5px;
}
footer li{
    list-style: none;
    padding: 10px 0;
}
footer main{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    

}
footer .icon-tab{
    margin: 20px 0px 10px 0;
    border: 1px solid white;
    padding: 20px;
}
@media only screen and (max-width: 1000px)
{
    .harmburger{
        display: block;
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #010E1B;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        height: 100%;
        color: white;
        justify-content: space-around;

        
        
    
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        
    }
    .nav-menu ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

    }
    .nav-menu ul li{
        padding: 30px 0;
        
    }
     .nav-menu li a{
        color: white;
        font-size: 30px;
        padding: 30px 0;
        
    }
    .end{
        width: 40%;
        display: flex;
        flex-direction: row !important;
        padding-bottom: 50px;
    }
    .end i{
        font-size: 30px;
    }
    
    .nav-menu.active{
        left: 0;
    
    }
}
@media only screen and (max-width: 600px){
    .text{
        width: 90%;
    }
    footer main{
        flex-direction: column;
        width: 60%;
        margin: auto;
    }
    footer .icon-tab{
        width: 180px;
    }
    footer ul{
        padding: 20px 0;
    }

    
    
}
@media only screen and (max-width:500px){
    .swiper-slide{
        margin: 0;
    }
    .swiper-slide{
        margin: auto;
    }
    .swiper-slide img{
        width: 90%;
    }
    .swiper-wrapper{
        text-align: center;
    }
}